
# ----------------------------
# Python
# ----------------------------
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Logs
*.log

# Environment
.env

# SQLite
*.db

# ----------------------------
# Node / Next.js
# ----------------------------
frontend/node_modules/
frontend/.next/
frontend/out/

# VSCode
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# Import Logs
backend/data/import_logs/

# Python bytecode
backend/**/__pycache__/

# Temporary CSV exports
backend/data/*.tmp